body{
    background-color: rgb(17, 0, 255);
    font:  15pt century;
    }

section{
    background: white;
    border-radius: 10px ;
    padding-left: 1%;
    width: 300px;
    margin: auto;
    height:fit-content;
    color: rgb(17, 10, 10);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    text-align: center;
    
}
div{
    padding: 8px;
}
header{
    color: white;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}